<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<title>
  {% if page.title and page.notitle != true %}{{ page.title }} • {% endif
  %}walkx.fyi
</title>

<meta name="theme-color" content="#cff6b5" />
<meta
  name="description"
  content="My own small piece of the internet, my website. Here you can find some of my projects, and some of my thoughts."
/>
<meta
  name="keywords"
  content="walkx, walkx.fyi, walkxcode, walkxnl, walkx.nl, walkx website, walkx website code, walkx website source code, walkx website source, walkx website source code github, walkx website source code github"
/>
<meta name="author" content="walkx" />
<meta property="og:site_name" content="walkx.fyi" />
<meta property="og:type" content="website" />
<meta
  property="og:title"
  content="{% if page.title %}{{ page.title }}{% else %}walkx.fyi{% endif %}"
/>
<meta property="og:image" content="{{ "/assets/images/logo.png" | absolute_url
}}">
<meta property="og:url" content="{{ page.url | absolute_url }}" />
<link rel="canonical" content="{{ page.url | absolute_url }}" />
{% for script in page.scripts %}
<script src="{{ script | relative_url }}" type="text/javascript" defer></script>
{% endfor %}
<link
  href="https://api.fontshare.com/v2/css?f[]=clash-display@1&display=swap"
  rel="stylesheet"
/>
<link
  href="https://api.fontshare.com/v2/css?f[]=clash-grotesk@1&display=swap"
  rel="stylesheet"
/>
