---
layout: default
---

<article>
  <header>
    <nav class="backlinks">
      <ul>
        <li><a href="{% link _pages/thoughts.md %}">← All Thoughts</a></li>
      </ul>
    </nav>
    <h1 class="thought--title">
      {{ page.title }} {% if page.emoji %}<i class="emoji" aria-hidden="true"
        >{{ page.emoji }}</i
      >{% endif %}
    </h1>
  </header>

  <p>
    <time datetime="{{ page.date | date_to_xmlschema }}"
      >{{ page.date | date: "%B %d, %Y" }}</time
    >
  </p>
  <div class="content">{{ content }}</div>
</article>
<hr />
<h2>Questions or Feedback?</h2>
<p>
  <a href="mailto:{{ site.email }}">Send me an email!</a>
</p>
